/* ------UNIVERSAL------- */
/* ---------------------- */

@font-face {
    font-family: 'Quicksand';
    src: url(assets/fonts/Quicksand-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url(assets/fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #090B30;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 48px;
    color: #AA852D;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 24px;
    text-align: center;
}

button {
    cursor: pointer;
    
} & button:active {
    transform: scale(.98);
}

/* ---------NAVBAR------- */
/* ---------------------- */
nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    max-width: 250px;
}

.nav__link {
    margin-left: 16px;
    font-size: 20px;
    font-weight: 700;

} & .nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 3px solid #AA852D;
    border-radius: 5px;
    padding: 4px 16px;
    transition: all 300ms ease;
    
} & .nav__link--primary:hover {
    text-decoration: none;
    background-color: #AA852D;
    color: #090B30;
}

#landing {
    background-color: #AA852D50;
}

/* ---------Header------- */
/* ---------------------- */

header {
    height: calc(100vh - 80px);
}

.text--gold {
    color:#AA852D;
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #090B30;
    color:#fff;
    border-radius: 5px;
    border: none;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    transition: all 200ms ease;

} & .button:hover {
    background-color: #AA852D;
}

.header__img--wrapper {
    padding: 20px;
    height: 100%;
    max-height: 50vh;
    z-index: 2;
}

/* --------Global-------- */
/* ---------Main--------- */

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* -------Highlight------ */
/* ---------------------- */

#highlights:after,
#highlights:before {
    content: "";
    background: url('./assets/wave.svg');
    position: absolute;
    width: 101vw;
    height: 12vw;
    background-size: cover;
    background-repeat: no-repeat;

} & #highlights:before {
    transform: translateY(-100%);
    z-index: 1;

} & #highlights:after{
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
    z-index: 1;

} & #highlights {
    position: relative;
}

.highlight__wrapper {
    display: flex;
}

.highlight {
    padding: 0 24px;
    width: calc( 100% / 3 );    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highlight__para {
    text-align: center;
    max-width: 280px;
}

.highlight__img {
    border: 3px solid #AA852D70;
    border-radius: 8px;
    padding: 35px 45px;
    font-size: 32px;
    margin-bottom: 24px;
}

.fa-bolt {
    /* This is aggraget to .highligh__img padding */
    padding: 0 6px;
}

.highlight__subtitle {
    font-style: normal;
    font-size: 20px;
    margin-bottom: 16px;
}

.section__title {
    margin-bottom: 16px;
}


/* -------Features------ */
/* ---------------------- */

#features {
    padding-top: 8vw;
    background-color: #AA852D50;
}

.book__img {
    max-height: 380px;
    transform: scale(1.05);
    transition: all 300ms ease;
    cursor: not-allowed; /*Recruiter - this is intentionally not clickable.*/
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 25%;
    padding: 24px;
} & .book:hover {
        .book__img {
            transform: scale(1.10);   
        }

        .book__title {
            text-decoration: underline;
        }
}

.book__img--wrapper {
    display: flex;
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.book__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.book__rating {
    margin-bottom: 8px;
    font-size: 24px;
}

.text--bright-gold {
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 8px;
}

.text--grey {
    color:#090B3050
}

/* -------Features------ */
/* ---------------------- */

.scale--back {
    transform: none;
}

.book__price {
    font-size: 18px;
}

/* ----Responsiveness---- */
/* ---------------------- */

@media (min-width: 1250px) {
    .book__img--wrapper {
        min-height: 380px;
    }

    .section__title {
        margin-top: 16px;
    }
}

@media (max-width: 850px) {

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    .button {
        background-color: #090B30;
        color:#fff;
        border-radius: 5px;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        transition: all 200ms ease;
    }

    .book__rating {
        font-size: 16px;
    }

    .book__title {
        font-size: 16px;
    }

    .book__price {
        font-size: 16px;
    }

    .nav__link:not(.nav__link--primary) {
        display: none;
    }

    .highlight__img {
        border: 3px solid #AA852D70;
        border-radius: 8px;
        padding: 25px 35px;
        font-size: 32px;
        margin-bottom: 24px;
    }
}

@media (max-width: 645px) {
    /*.book__rating {
        display: none;
    }*/
    .books {
        display: flex;
        justify-content: center;
    }

    .book {
        width: 45%; 
    }

    .book__price {
        font-size: 16px;
    }
}