/*
UNIVERSAL
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgb(26 32 44);
}

html {
    scroll-behavior: smooth;
    tab-size: 4;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
}

body {
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*
NAVIGATION BAR
*/

.box_logo {
    max-width: 40px;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
}
.nav__lists {
    display: flex;
}

.nav__list {
    font: 14px;
    margin: 0 12px;
}

/*
EMAIL BUTTON
*/
.relative {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__email {
    padding: 10px 112px 8px 12px;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 12px;
}

.container__button {
    position: absolute;
    border-radius: 12px;
    border: 2px solid rgb(226, 232, 240);
    background: #6415FF;
    color: white;
    padding: 6px 16px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(38%, -50%);
}